*, *:before, *:after {
	box-sizing: border-box;
}
body {
	margin: 0;
}
.main {
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	height: 100%;
	min-height: 1000px;
	background: url(../img/stardust.png) repeat;
	padding:50px;
}


.one {
	display: flex;
	width: 80%;
	min-height: 401px;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 50px;
	
}
.two {
	display: flex;
	width: 80%;
	min-height: 401px;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 50px;
	
}

.section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	border-radius: 10px;
	width: 80%;
	min-height: 201px;
	border: 1px solid #FFFFFF;
	border-radius: 30px 30px 30px 30px;
}


.shine {
	background: #333;
	color: #ccc;
	width: 200px;
	height: 60px;
	border: 0;
	font-size: 18px;
	border-radius: 4px;
	font-family: 'Raleway', sans-serif;
	transition: .6s;
	overflow: hidden;
	-webkit-transform: translateX(-5%) translateY(-5%); /*!!*/
	transform: translateX(-5%) translateY(-5%);			/*!!*/

	
}
button.shine:focus {
	outline: 0;
}
button.shine:before {
	content: '';
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.5);
	width: 60px;
	height: 100%;
	left: 0;
	top: 0;
	opacity: .5;
	-webkit-filter: blur(30px);
	filter: blur(30px);
	-webkit-transform: translateX(-100px) skewX(-15deg);
	transform: translateX(-100px) skewX(-15deg);
}
button.shine:after {
	content: '';
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.2);
	width: 30px;
	height: 100%;
	left: 30px;
	top: 0;
	opacity: 0;
	-webkit-filter: blur(5px);
	filter: blur(5px);
	-webkit-transform: translateX(-100px) skewX(-15deg);
	transform: translateX(-100px) skewX(-15deg);
}
button.shine:hover {
	background: #338033;
	cursor: pointer;
}
button.shine:hover:before {
	-webkit-transform: translateX(300px) skewX(-15deg);
	transform: translateX(300px) skewX(-15deg);
	opacity: 0.6;
	transition: .7s;
}
button.shine:hover:after {
	-webkit-transform: translateX(300px) skewX(-15deg);
	transform: translateX(300px) skewX(-15deg);
	opacity: 1;
	transition: .7s;
}

.card { 
	display: flex;	
	width: 200px;
	height: 300px;	
}

img {
	width: 200px;
	height: 285px;
	padding: 5px;
}
.card div:nth-child(1){
	margin: 0;
} 
.card div{
	margin-left: -200px;
}
.card:hover div{
	margin-left: 0;
	-o-transform: translateX(20px);
	-ms-transform: translateX(20px);
	-moz-transform: translateX(20px);
	-webkit-transform: translateX(20px);
	transform: translateX(20px);

	-o-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	cursor: pointer;	
}


